.activityContainer {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.formTitle {
    margin-top: 1em;
}

.separator {
    margin-top: 1em;
    height: 1px;
    width: 70vh;
    background-color: #222831;
    border-style: hidden;
    border-color: #222831;
}